<div class="container mt-3">
  <div *ngIf="receta" class="card">
    <div class="card-header">
      <h2 class="card-title">Eliminar Receta</h2>
    </div>
    <div class="card-body">
      <p class="card-text">¿Estás seguro de que deseas eliminar la receta: {{ receta.nombre }}?</p>
      <button (click)="deleteReceta()" class="btn btn-danger">Eliminar</button>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    <p>{{ successMessage }}</p>
  </div>
</div>
