<div class="container mt-5">
  <h2 class="mb-4">Editar Receta</h2>
  <form (ngSubmit)="saveReceta(editForm)" #editForm="ngForm">

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="receta.nombre" name="nombre" required>
    </div>
    
    <div class="form-group">
      <label for="texto">Texto:</label>
      <input type="text" class="form-control" id="texto" [(ngModel)]="receta.texto" name="texto" required>
    </div>
    
    <br>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>
</div>

  