<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Sala Comunitaria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="auth.IsLogin()">
        <li class="nav-item">
          <a class="nav-link" routerLink="/familias">Familias Productoras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/insumos">Insumos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lotes">Lotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recetas">Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/canales">Canales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/materiasPrimas">Materias Primas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users"><span class="glyphicon glyphicon-user"></span> Usuarios</a>
        </li>
      </ng-container>
      <li class="nav-item" *ngIf="!auth.IsLogin();">
        <a class="nav-link" routerLink="/register"><span class="glyphicon glyphicon-user"></span> Registrarse</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <ng-container *ngIf="auth.IsLogin(); else loginLink">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-danger ml-2" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
  <ng-template #loginLink>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary ml-2" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
  </ng-template>
</nav>
