<div class="container mt-3">
  <h2>Editar Usuario</h2>
  <form (ngSubmit)="saveUser(editForm)" #editForm="ngForm" class="card">
    <div class="card-body">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" ngModel email required class="form-control">
      </div>
      
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="user.nombre" name="nombre" required class="form-control">
      </div>
      
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido:</label>
        <input type="text" id="apellido" [(ngModel)]="user.apellido" name="apellido" required class="form-control">
      </div>
      
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control">
      </div>
      
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    <p>{{ successMessage }}</p>
  </div>
</div>
