<div class="container mt-3">
    <div *ngIf="canal" class="card">
        <h2 class="card-header">Eliminar Canal de Venta</h2>
        <div class="card-body">
            <p class="card-text">¿Estás seguro de que deseas eliminar el canal de venta {{ canal.nombre }}?</p>
            <button (click)="deleteCanal()" class="btn btn-danger">Eliminar</button>
        </div>



  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    <p>{{ successMessage }}</p>
  </div>
</div>