<div class="container mt-3">
    <div *ngIf="producto" class="card">
      <div class="card-header">
        <h2 class="card-title">Eliminar Producto</h2>
      </div>
      <div class="card-body">
        <p class="card-text">¿Estás seguro de que deseas eliminar el producto {{ producto.nombre }}?</p>
        <button (click)="deleteProducto()" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      <p>{{ errorMessage }}</p>
    </div>
  
    <div *ngIf="successMessage" class="alert alert-success mt-3">
      <p>{{ successMessage }}</p>
    </div>
  </div>
  