<div class="container mt-4">
    <h2>Entregar producto a canal</h2>
    <form (ngSubmit)="entregarProducto(entregaForm)" #entregaForm="ngForm">
      <div class="form-group">
        <label for="canal">Seleccionar Canal</label>
        <select id="canal" [(ngModel)]="selectedCanal" name="canal" required class="form-control">
          <option *ngFor="let canal of canales" [ngValue]="canal.id">{{ canal.nombre }}</option>
        </select>
        
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad de productos</label>
        <input type="number" id="cantidad" [(ngModel)]="cantidad" name="cantidad" required class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Entregar Producto</button>
      
    </form>
    <div *ngIf="message" class="alert alert-warning mt-3">
      {{ message }}
    </div>
  </div>