<div class="container mt-5">
  <h2 class="mb-4">Registrar Insumo</h2>
  <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="insumo.nombre" name="nombre" required>
    </div>
    
    <div class="form-group">
      <label for="cantidad">Cantidad:</label>
      <input type="text" class="form-control" id="cantidad" [(ngModel)]="insumo.cantidad" name="cantidad" required>
    </div>
    
    <div class="form-group">
      <label for="costoUnitario">Costo Unitario:</label>
      <input type="number" class="form-control" id="costoUnitario" [(ngModel)]="insumo.costoUnitario" name="costoUnitario" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
  
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    <p>{{ errorMessage }}</p>
  </div>
  
  <div *ngIf="successMessage" class="alert alert-success mt-3">
    <p>{{ successMessage }}</p>
  </div>
</div>
