<div class="container mt-5">
  <div *ngIf="familia" class="card">
    <div class="card-header">
      <h2 class="card-title">Eliminar Familia Productora</h2>
    </div>
    <div class="card-body">
      <p class="card-text">¿Estás seguro de que deseas eliminar a la familia productora: {{ familia.nombre }}?</p>
      <button (click)="deleteFamilia()" class="btn btn-danger">Eliminar</button>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    <p>{{ errorMessage }}</p>
  </div>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    <p>{{ successMessage }}</p>
  </div>
</div>
